<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons::head"></head>
<body>
<header th:replace="/fragments/commons::navigation"></header>
<div class="container">


    <img src="https://res.cloudinary.com/kupuvalnik-cloud/image/upload/v1638907704/comming-soon_h1db95.svg"
         alt="Image not working..." id="coming-soon-text">
</div>
<div class="container">
    <div class="text-center">

        <a th:href="@{/}" class="btn btn-dark">Home</a>
    </div>

</div>
</body>
</html>